# --- Node.js ---
node_modules/
npm-debug.log
package-lock.json

# --- Fichiers de logs ---
*.log

# --- Fichiers système ---
.DS_Store
Thumbs.db

# --- Environnement et secrets ---
.env

# --- Données locales (à voir ? vous me dirai ce que vous en pensez) ---
data/*.json

# --- Cache IDE ---
.vscode/
.idea/

